<a href="https://colab.research.google.com/github/wstroks/IA-pgcc015/blob/master/EPC/01/Perceptron.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### EPC1

A partir da análise de um processo de destilação fracionada de petróleo observou-se que determinado óleo poderia ser classificado em duas classes de pureza {C1 e C2} a partir da medição de três grandezas {x1, x2 e x3} que representam algumas das propriedades físico-químicas do óleo. A equipe de engenheiros e cientistas pretende utilizar um Perceptron para executar a classificação automática destas duas classes.
Assim, baseado nas informações coletadas do processo formou-se o conjunto de treinamento tomando por convenção o valor –1 para óleo pertencente à classe C1 e o valor +1 para óleo pertencente à classe C2. 
Portanto, o neurônio constituinte do Perceptron terá três entradas e uma saída conforme ilustrado na figura abaixo:

1 - Utilizando o algoritmo supervisionado de Hebb (regra de Hebb) para classificação de padrões e assumindo a taxa de aprendizagem igual a 0,01, faça as seguintes atividades:

Execute 5 treinamentos para a rede Perceptron inicializando o vetor de pesos em cada treinamento com valores aleatórios entre zero e um. Se for o caso, reinicie o gerador de números aleatórios em cada treinamento de tal forma que os elementos do vetor de pesos iniciais não sejam os mesmos.

In [1]:
import numpy as np
import pandas as pd

In [8]:
base_dados = pd.read_csv('https://raw.githubusercontent.com/wstroks/IA-pgcc015/master/EPC/01/dados.txt', header=None, sep= ' ')

In [9]:
base_dados

    0       1       2        3    4
0  -1 -0.6508  0.1097   4.0009 -1.0
1  -1 -1.4492  0.8896   4.4005 -1.0
2  -1  2.0850  0.6876  12.0710 -1.0
3  -1  0.2626  1.1476   7.7985  1.0
4  -1  0.6418  1.0234   7.0427  1.0
5  -1  0.2569  0.6730   8.3265 -1.0
6  -1  1.1155  0.6043   7.4446  1.0
7  -1  0.0914  0.3399   7.0677 -1.0
8  -1  0.0121  0.5256   4.6316  1.0
9  -1 -0.0429  0.4660   5.4323  1.0
10 -1  0.4340  0.6870   8.2287 -1.0
11 -1  0.2735  1.0287   7.1934  1.0
12 -1  0.4839  0.4851   7.4850 -1.0
13 -1  0.4089 -0.1267   5.5019 -1.0
14 -1  1.4391  0.1614   8.5843 -1.0
15 -1 -0.9115 -0.1973   2.1962 -1.0
16 -1  0.3654  1.0475   7.4858  1.0
17 -1  0.2144  0.7515   7.1699  1.0
18 -1  0.2013  1.0014   6.5489  1.0
19 -1  0.6483  0.2183   5.8991  1.0
20 -1 -0.1147  0.2242   7.2435 -1.0
21 -1 -0.7970  0.8795   3.8762  1.0
22 -1 -1.0625  0.6366   2.4707  1.0
23 -1  0.5307  0.1285   5.6883  1.0
24 -1 -1.2200  0.7777   1.7252  1.0
25 -1  0.3957  0.1076   5.6623 -1.0
26 -1 -0.1013  0.5989   7.1812 -1.0
27 -1  2.4482  0.9455  11.2095  1.0
28 -1  2.0149  0.6192  10.9263 -1.0
29 -1  0.2012  0.2611   5.4631  1.0

In [14]:
X_treinamento = base_dados.iloc[:,0:4]

In [15]:
X_treinamento

    0       1       2        3
0  -1 -0.6508  0.1097   4.0009
1  -1 -1.4492  0.8896   4.4005
2  -1  2.0850  0.6876  12.0710
3  -1  0.2626  1.1476   7.7985
4  -1  0.6418  1.0234   7.0427
5  -1  0.2569  0.6730   8.3265
6  -1  1.1155  0.6043   7.4446
7  -1  0.0914  0.3399   7.0677
8  -1  0.0121  0.5256   4.6316
9  -1 -0.0429  0.4660   5.4323
10 -1  0.4340  0.6870   8.2287
11 -1  0.2735  1.0287   7.1934
12 -1  0.4839  0.4851   7.4850
13 -1  0.4089 -0.1267   5.5019
14 -1  1.4391  0.1614   8.5843
15 -1 -0.9115 -0.1973   2.1962
16 -1  0.3654  1.0475   7.4858
17 -1  0.2144  0.7515   7.1699
18 -1  0.2013  1.0014   6.5489
19 -1  0.6483  0.2183   5.8991
20 -1 -0.1147  0.2242   7.2435
21 -1 -0.7970  0.8795   3.8762
22 -1 -1.0625  0.6366   2.4707
23 -1  0.5307  0.1285   5.6883
24 -1 -1.2200  0.7777   1.7252
25 -1  0.3957  0.1076   5.6623
26 -1 -0.1013  0.5989   7.1812
27 -1  2.4482  0.9455  11.2095
28 -1  2.0149  0.6192  10.9263
29 -1  0.2012  0.2611   5.4631

In [22]:
Y_treinamento = base_dados.iloc[:,4:]

In [23]:
Y_treinamento

      4
0  -1.0
1  -1.0
2  -1.0
3   1.0
4   1.0
5  -1.0
6   1.0
7  -1.0
8   1.0
9   1.0
10 -1.0
11  1.0
12 -1.0
13 -1.0
14 -1.0
15 -1.0
16  1.0
17  1.0
18  1.0
19  1.0
20 -1.0
21  1.0
22  1.0
23  1.0
24  1.0
25 -1.0
26 -1.0
27  1.0
28 -1.0
29  1.0

In [31]:
def funcao_ativacao(sinal):
  if (sinal>=0):
    return 1;
  else:
    return -1

In [34]:
funcao_ativacao(0)

1

In [35]:
eta = 0.01

In [36]:
eta

0.01